<html>
    <body>
        <h1>T{{ dte.Encabezado.IdDoc.TipoDTE }}F{{ dte.Encabezado.IdDoc.Folio }}</h1>
        <ul>
            <li>{{ dte.Encabezado.Emisor.RUTEmisor }}</li>
        </ul>
    </body>
</html>
