# ejemplos, composer, pruebas, etc (archivos generados al usar la biblioteca)
doc
examples/config.php
examples/xml
examples/pdf
vendor
tests/firma.p12

# funcionalidades aun no liberadas
examples/999-navegador.php
lib/Sii/Navegador.php
lib/Sii/VerificadorDatos.php
lib/Sii/Dte/Formatos
lib/Sii/Lce
