/.php-cs-fixer.cache
/.phpunit.result.cache
/build/
/tests/env-tests
/tests/resources/caf/*.xml
/tests/resources/yaml/documentos_ok/*/*.xml
/tests/resources/yaml/documentos_ok/*/*.html
/tests/resources/yaml/documentos_ok/*/*.pdf
/tests/resources/yaml/documentos_ok/*/*.json
/tools/
/var/
/vendor/
/ast.dump
