.codegpt
.DS_Store
/.php-cs-fixer.cache
/.phpunit.result.cache
/build/
/tests/env-tests
/tests/fixtures/caf/*.xml
/tests/fixtures/xml/upload/*.xml
/tests/fixtures/yaml/documentos_ok/*/*.xml
/tests/fixtures/yaml/documentos_ok/*/*.html
/tests/fixtures/yaml/documentos_ok/*/*.pdf
/tests/fixtures/yaml/documentos_ok/*/*.json
/tools/
/var/
/vendor/
/ast.dump
